<p id="notice"><%= notice %></p>

<h1 align="center">listing all Posts</h1>



  <% @posts.each do |post| %>
  <div class="row">
    <div class=" col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="post-title">
          <%= post.title %>
        </div>
          <div class="post-body">
            <%= truncate(post.body, length: 100) %>
          </div>
            <div class= "post-actions">
              <%= link_to 'Show', post, class: "btb btn-xs btn-success" %>
              <%= link_to " edit this post", edit_post_path(post), class: "btn btn-xs btn-primary" %>
              <%= link_to 'Delete this post', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
              <%= link_to 'Soft Delete', post_soft_delete_path(post), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-xs btn-info" %>   
              
            </div>
          </div>
          
      </div>
    </div>
 <% end %>
  <div class="text-center">
    <%= link_to 'New Post', new_post_path %>
  </div>
  

